<header class="header header--peach">
  <div class="header__inner">
    <a href="index.html" class="header__brand">
      <img src="assets/img/logo_with_peach.webp" alt="City logo" class="header__logo">
      <span class="header__title">Perry, Utah</span>
    </a>

    <nav class="header__nav" aria-label="Main navigation">
      <ul>
        <li><a href="../index.html">Services</a></li>
        <li><a href="../pages/departments.html">Departments</a></li>
        <li><a href="../pages/about.html">About</a></li>
        <li><a href="../pages/contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
